body
{
 background-color :yellow;

}
body{
 background:#768790;
 color:324;
 width:100%;
 font-family:sans-serif;
 margin:0 auto;
}
.header{
 width:90%;
 margin:auto;
 height:120px;
 line-height:120px;
 background:#417aa8;
 color:#fff;
}
